[submodule ".tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/.vim/pack/batbrat/start/vim-sensible"]
	path = vim/.vim/pack/batbrat/start/vim-sensible
	url = https://tpope.io/sensible.git
[submodule "vim/.vim/pack/batbrat/start/vim-colors-solarized"]
	path = vim/.vim/pack/batbrat/opt/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/pack/batbrat/start/gruvbox"]
	path = vim/.vim/pack/batbrat/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/.vim/pack/batbrat/start/jellybeans"]
	path = vim/.vim/pack/batbrat/opt/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim/.vim/pack/batbrat/start/badwolf"]
	path = vim/.vim/pack/batbrat/opt/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "vim/.vim/pack/batbrat/start/molokai"]
	path = vim/.vim/pack/batbrat/opt/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/.vim/pack/batbrat/start/dracula"]
	path = vim/.vim/pack/batbrat/opt/dracula
	url = https://github.com/dracula/vim.git
[submodule "vim/.vim/pack/batbrat/start/nord-vim"]
	path = vim/.vim/pack/batbrat/opt/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "vim/.vim/pack/batbrat/start/vim-neo-solarized"]
	path = vim/.vim/pack/batbrat/opt/vim-neo-solarized
	url = https://github.com/overcache/NeoSolarized.git
[submodule "vim/.vim/pack/batbrat/start/vim-surround"]
	path = vim/.vim/pack/batbrat/start/vim-surround
	url = https://tpope.io/vim/surround.git
[submodule "vim/.vim/pack/batbrat/start/vim-commentary"]
	path = vim/.vim/pack/batbrat/start/vim-commentary
	url = https://tpope.io/vim/commentary.git
[submodule "vim/.vim/pack/batbrat/start/fzf"]
	path = vim/.vim/pack/batbrat/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/.vim/pack/batbrat/start/vim-fugitive"]
	path = vim/.vim/pack/batbrat/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/pack/batbrat/start/simplyfold"]
	path = vim/.vim/pack/batbrat/start/simplyfold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "vim/.vim/pack/batbrat/start/vim-python-pep8-indent"]
	path = vim/.vim/pack/batbrat/start/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule "vim/.vim/pack/batbrat/start/vim-pythonsense"]
	path = vim/.vim/pack/batbrat/opt/vim-pythonsense
	url = https://github.com/jeetsukumaran/vim-pythonsense.git
[submodule "vim/.vim/pack/batbrat/opt/nerdtree.git"]
	path = vim/.vim/pack/batbrat/opt/nerdtree.git
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/.vim/pack/batbrat/opt/nerdtree-git-plugin.git"]
	path = vim/.vim/pack/batbrat/opt/nerdtree-git-plugin.git
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/.vim/pack/batbrat/opt/vim-devicons"]
	path = vim/.vim/pack/batbrat/opt/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "vim/.vim/pack/batbrat/opt/vim-nerdtree-syntax-highlight"]
	path = vim/.vim/pack/batbrat/opt/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight
[submodule "vim/.vim/pack/coc/start/coc.nvim"]
	path = vim/.vim/pack/coc/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "vim/.vim/pack/batbrat/opt/vim-airline"]
	path = vim/.vim/pack/batbrat/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/.vim/pack/batbrat/opt/vim-airline-themes"]
	path = vim/.vim/pack/batbrat/opt/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
